/* 
    Document   : Estilo
    Created on : 2/04/2013, 10:11:21 AM
    Author     : Ing Victor Barrios A
    Description:
        Purpose of the stylesheet follows.
*/

#Contenedor{
    width: 75%;
    margin: 0px auto;
    -webkit-box-shadow:  0px 1px 3px 1px #333;  
    box-shadow:  0px 1px 3px 1px #333;
    font-family: Arial,verdana;
    font-size: 12px;
    -webkit-border-radius:  0px 0px 6px 6px;
    border-radius: 0px 0px 6px 6px;

}
body{
    width: 100%; 
    background: #f9fcf7;
    background: -moz-linear-gradient(top,  #f9fcf7 0%, #f5f9f0 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f9fcf7), color-stop(100%,#f5f9f0));
    background: -webkit-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%);
    background: -o-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%);
    background: -ms-linear-gradient(top,  #f9fcf7 0%,#f5f9f0 100%);
    background: linear-gradient(to bottom,  #f9fcf7 0%,#f5f9f0 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f9fcf7', endColorstr='#f5f9f0',GradientType=0 );

}
#cont_form{
    padding: 20px;
    text-align: justify;
    background: #fff;


}
#p1{
    display: inline

}
#cont2{
    display: inline;
}
textarea{
    resize: none;
    width: 90%;
    margin: 0px auto;
    display: block;
    margin-bottom: 20px;
    font-family: Arial,verdana;
    font-size: 12px;
    margin-top: 10px;
}
#validacion2,#validacion1{

    text-align: justify;

}
fieldset{
    display: block;
    margin: 0px auto;
    padding: 2%;
    width: 87%;
}
legend{
    color:#990033;  

}
header{
    width: 100%;
    display: block;
    background: #a90329;
    background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
    background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
    background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
    background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
    background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
    height: 150px;
}
#logo{

    background:url('imagenes/logo.png') no-repeat;
    height: 80px;
    margin: 0px auto ;
    width: 315px;


}
#contlo{
    padding-top: 35px !important;

}
footer{
    width: 98%;
    display: block;
    background: #a90329;
    background: -moz-linear-gradient(top,  #a90329 0%, #8f0222 44%, #6d0019 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#a90329), color-stop(44%,#8f0222), color-stop(100%,#6d0019));
    background: -webkit-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
    background: -o-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
    background: -ms-linear-gradient(top,  #a90329 0%,#8f0222 44%,#6d0019 100%);
    background: linear-gradient(to bottom,  #a90329 0%,#8f0222 44%,#6d0019 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019',GradientType=0 );
    height: 70px;
    -webkit-box-shadow: inset 1px 1px 3px 0px #ffcc00; 
    box-shadow: inset 1px 1px 3px 0px #ffcc00;
    color:#fff;
    text-align: center;
    padding: 1%;
    font-size: 11px;
}
#titulo{
    width: 50%;
    text-align: center;
    height: 25px;
    background: #7d7e7d;
    background: -moz-linear-gradient(top,  #7d7e7d 0%, #0e0e0e 100%);
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7d7e7d), color-stop(100%,#0e0e0e));
    background: -webkit-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
    background: -o-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
    background: -ms-linear-gradient(top,  #7d7e7d 0%,#0e0e0e 100%);
    background: linear-gradient(to bottom,  #7d7e7d 0%,#0e0e0e 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#7d7e7d', endColorstr='#0e0e0e',GradientType=0 );
    padding-top: 5px;
    text-shadow: 1px 1px 2px #c9c928;
    filter: dropshadow(color=#c9c928, offx=1, offy=1);
    font-size: 16px;
    color:#fff;
    margin: 0px auto;
    -webkit-box-shadow: inset 1px 1px 3px 0px #ffcc00; 
    box-shadow: inset 1px 1px 3px 0px #ffcc00;
    -webkit-border-radius:  0px 0px 6px 6px;
    border-radius: 0px 0px 6px 6px;

}

